<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form class="example-form" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <!-- Email -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" ngModel name="email" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>

