<mat-toolbar color="primary">
  <span>
    <a routerLink="">My Posts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isUserAuthenticated">
      <a mat-button routerLink="create" routerLinkActive="mat-accent">New post</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
