:host {
  display: block;
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.image-post {
  width: 100%;
}

.image-post img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-paginator {
  margin-top: 1rem;
}
