<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <b>{{ post.title | titlecase }}</b>
    </mat-expansion-panel-header>
    <div class="image-post">
      <img [src]="post.imagePath" alt="">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="isUserAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
 (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="text-center mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts yet!</p>
