<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form class="example-form" ngForm [formGroup]="postForm" *ngIf="!isLoading">
    <!-- title -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="postForm.controls.title.invalid">Title is required!</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="postForm.value.title">
    </div>

    <!-- content -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput rows="4" formControlName="content"></textarea>
      <mat-error *ngIf="postForm.controls.content.invalid">Content is required!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSavePost()" type="button">Save</button>
  </form>
</mat-card>
